<% layout("layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
    <h3>Create a New Listing</h3>
    <form method="post"
          action="/listings"
          novalidate class="needs-validation"
           enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]"
            placeholder="Enter title"
            type="text" 
            class="form-control"
            required>
            <div class="valid-feedback">Looks Good !</div>
        </div>

        <div  class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" 
            class="form-control"
            required>
        </textarea>
        <div class="invalid-feedback">Enter the property description</div>
        </div>

        <div  class="mb-3">
            <label for="image" class="form-label">Upload image</label>
            <input name="listing[image]" 
            type="file" 
            class="form-control"
            required>
        </div>

        <div class="row">
        <div  class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" 
            placeholder="Enter price" 
            type="number"
            class="form-control"
            required>
            <div class="invalid-feedback">Enter a Valid price</div>
        </div>

        <div  class="mb-3 col-md-8">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" 
        placeholder="Enter location" 
        type="text"
        class="form-control"
        required>
        <div class="invalid-feedback">Enter the exact location</div>
        </div>
        </div>

        <div  class="mb-3">
        <label for="country" class="form-label">Country</label>   
        <input name="listing[country]" 
        placeholder="Enter Country name" 
        type="text"
        class="form-control"
        required>
        <div class="invalid-feedback">Enter Country name</div>
        </div>
        <br>
        <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select name="listing[category]" class="form-select" required>
        <option value="">-- Select Category --</option>
        <option value="Rooms">Rooms</option>
        <option value="Iconic Cities">Iconic Cities</option>
        <option value="Castle">Castle</option>
        <option value="Pools">Pools</option>
        <option value="Camping">Camping</option>
        <option value="Farms">Farms</option>
        <option value="Arctic">Arctic</option>
        <option value="Beach">Beach</option>
        <option value="Domes">Domes</option>
    </select>
    <div class="invalid-feedback">Please select a category</div>
</div>
<br>
        <button class="btn btn-dark add-btn">Submit</button>
        <br><br>
    </form>
    </div>
    </div>
</body>
